@import "utils/variables";
@import "base/typography";
@import "layouts/header";
@import "pages/accueil";
@import "pages/panier";
@import "layouts/footer";
@import "pages/product";
@import "pages/confirmation";
@import "layouts/modal";



body,
html {
  margin: 0;
}
body {
  background-color: #F3F5F6;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}



