header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 70px;
  background-color: $color-primary;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box;

  & #Orinoco-logo {
    height: 70px;
  }
 }

.number-cart {
  position: absolute;
  
  top: 15px;
  color: $btn-color;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em;
}

