* {
  font-family: 'Roboto', sans-serif; }

.product__name {
  font-family: 'Otomanopee One', sans-serif; }

.main-presentation {
  font-size: 1.2em; }
  .main-presentation .classic {
    font-size: 1.3em; }
  .main-presentation h1 {
    font-family: 'Lobster', cursive;
    text-shadow: #c0c0c0 10px 10px 10px; }
  .main-presentation .h1--transparent {
    font-family: 'Lobster', cursive;
    padding-bottom: 20px;
    color: rgba(0, 0, 0, 0.8); }

.classic {
  font-family: 'Dancing Script', cursive; }

.product__name {
  font-size: 1.7em; }

.thearticle h1 {
  font-family: 'Dancing Script', cursive; }

.thearticle__description {
  font-size: 1.2em; }

.thearticle__price {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.3em; }

#cart-container h1 {
  font-family: 'Lobster', cursive; }

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  margin: auto;
  padding-left: 20px;
  padding-right: 20px;
  align-items: center;
  height: 70px;
  background-color: #f2e8f0;
  margin-bottom: 50px;
  position: relative;
  box-sizing: border-box; }
  @media (max-width: 576px) {
    header {
      width: 100%; } }
  header #Orinoco-logo {
    height: 70px; }

.number-cart {
  position: absolute;
  top: 15px;
  color: #9398E0;
  background-color: transparent;
  font-family: 'Roboto', sans-serif;
  font-size: 0.9em; }

#product-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90%;
  margin: auto;
  background-color: #f2e8f0;
  padding-top: 40px;
  min-height: 900px; }
  @media (max-width: 576px) {
    #product-container {
      width: 100%; } }

#product-container a {
  margin-bottom: 60px;
  color: black;
  text-decoration: none;
  width: 450px;
  height: 364px; }

.product {
  width: 100%;
  height: 364px;
  border: solid 2px #93BEE0;
  background-color: #b6d8f2;
  position: relative;
  -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.59);
  box-shadow: 0px 0px 15px 1px #f2e8f0;
  transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57); }

.product:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px 7px rgba(147, 190, 224, 0.3);
  -moz-box-shadow: 0px 0px 10px 7px rgba(147, 190, 224, 0.3);
  -webkit-box-shadow: 0px 0px 10px 7px rgba(147, 190, 224, 0.3); }

.product:hover .product__image img {
  transform: scaleY(1.2) translateY(25px); }

.product:hover .product__content {
  transform: scaleY(0); }

.product:hover .showarticle {
  transform: scaleX(1); }

.product__content {
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #93BEE0;
  transition: 200ms cubic-bezier(0.29, 0.15, 0.22, 0.99) 200ms;
  transform-origin: bottom; }

.product__price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; }

.product__image {
  width: 100%;
  height: 300px;
  display: flex; }

.product__image img {
  width: 100%;
  height: 100%;
  margin: auto;
  object-fit: fill;
  margin: auto;
  box-sizing: border-box;
  transition: 200ms cubic-bezier(0.29, 0.15, 0.22, 0.99) 200ms; }

.product__name {
  display: flex;
  width: 90%;
  margin: auto;
  justify-content: center;
  align-items: center; }

.main-presentation {
  width: 90%;
  margin: auto;
  text-align: center;
  margin-bottom: 50px;
  background-color: #f2e8f0;
  padding: 20px;
  position: relative; }
  @media (max-width: 576px) {
    .main-presentation {
      width: 100%; } }

.main-presentation::before {
  content: "";
  height: 50px;
  background-color: #93BEE0;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: -50px; }

.showarticle {
  z-index: 1;
  color: white;
  font-size: 1.2em;
  position: absolute;
  right: 0;
  top: 50px;
  background: rgba(0, 0, 0, 0.3);
  padding: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: 300ms cubic-bezier(0.29, 0.15, 0, 1.18) 400ms; }

#cart-container {
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px; }
  @media (max-width: 992px) {
    #cart-container {
      width: 100%; } }

.cart-product__container {
  display: flex;
  width: 100%;
  margin: auto;
  flex-direction: column;
  text-align: center; }

.cart-product {
  display: flex;
  justify-content: space-between;
  height: 30px;
  align-items: center; }
  .cart-product__name, .cart-product__couleur, .cart-product__prix, .cart-product__delete {
    width: 25%; }
  .cart-product__quantite {
    width: 25%; }
  .cart-product:nth-child(1) {
    background-color: #cef3d0; }
  .cart-product:nth-child(1n + 2) {
    background-color: #f7f6cf; }
  .cart-product:nth-child(2n + 2) {
    background-color: #f3e2ce; }

.cart-product--head {
  border-bottom: solid #93BEE0 1px; }

.empty-cart {
  text-align: center; }
  .empty-cart button {
    margin-top: 20px;
    color: white;
    background-color: #93BEE0;
    text-decoration: none;
    padding: 10px;
    font-size: 1.1em;
    transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57); }
    .empty-cart button:hover {
      transform: scale(1.1); }

.delete {
  cursor: pointer; }

#contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  background-color: #93BEE0;
  padding: 20px;
  width: 80%; }
  @media (max-width: 992px) {
    #contact-information {
      width: 100%; } }
  #contact-information input {
    width: 200px;
    margin-bottom: 10px;
    margin-top: 10px; }
  #contact-information fieldset {
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 20px;
    margin-bottom: 50px;
    border: white 1px solid; }
    @media (max-width: 992px) {
      #contact-information fieldset {
        flex-direction: column;
        align-items: center;
        width: 80%; } }
  #contact-information legend {
    border: solid 1px white;
    background-color: white;
    font-size: 1.1em;
    padding: 5px;
    font-family: "Lobster", cursive; }
  #contact-information p {
    font-size: 1.3em;
    display: flex;
    flex-direction: column;
    justify-content: center; }
  #contact-information label {
    text-align: center; }
  #contact-information small {
    text-align: center;
    font-size: 0.8em; }

.valid {
  border: chartreuse solid 2px; }

.invalid {
  border: solid 2px red; }

.delete-all__btn {
  border: solid 1px black;
  padding: 10px;
  background-color: #C0392B;
  color: white;
  transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57); }
  .delete-all__btn i {
    margin-left: 5px; }
  .delete-all__btn:hover {
    transform: scale(1.1); }

footer {
  margin-top: 60px;
  font-size: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #f2e8f0; }

ul {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  justify-content: space-around;
  width: 100%;
  height: 100%;
  align-items: center; }
  @media (max-width: 992px) {
    ul {
      flex-direction: column; } }

li {
  list-style-type: none; }
  @media (max-width: 992px) {
    li {
      margin-bottom: 10px; }
      li:last-child {
        margin-bottom: 0; } }

footer a {
  color: black;
  text-decoration: none; }
  footer a:hover {
    text-decoration: underline; }

.thearticle__image img {
  width: 500px;
  height: 500px;
  object-fit: cover; }
  @media (max-width: 992px) {
    .thearticle__image img {
      width: 300px;
      height: 300px;
      flex-direction: column; } }
  @media (max-width: 992px) {
    .thearticle__image img {
      width: 100%;
      height: 400px; } }

.thearticle {
  background-color: #93BEE0;
  width: 90%;
  margin: auto;
  padding: 20px; }

#thearticle-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  box-sizing: border-box; }
  @media (max-width: 992px) {
    #thearticle-container {
      width: 100%;
      flex-direction: column; } }

.thearticle__name {
  font-size: 1.3em;
  transform: rotate(-10deg);
  animation: 200ms 700ms rotation-texte forwards; }

.thearticle__content {
  width: 30%;
  background-color: white;
  padding: 20px;
  margin: auto;
  transform: rotate(-10deg);
  animation: 500ms 500ms rotation-cadre forwards; }
  @media (max-width: 992px) {
    .thearticle__content {
      width: 100%; } }

.thearticle__description {
  text-align: justify;
  padding-top: 20px;
  padding-bottom: 20px;
  transform: rotate(-10deg);
  animation: 200ms 700ms rotation-texte forwards; }

.thearticle__price {
  text-align: right;
  font-size: 1.5em;
  transform: rotate(-10deg);
  animation: 200ms 700ms rotation-texte forwards; }

@keyframes rotation-cadre {
  0% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(10deg);
    animation-timing-function: ease-out; }
  100% {
    transform: rotate(0deg); } }
@keyframes rotation-texte {
  0% {
    transform: rotate(-10deg); }
  90% {
    transform: rotate(0deg) translateX(-1px); }
  100% {
    transform: rotate(0deg); } }
.choose {
  width: 100%;
  margin-top: 10px; }

.choose form {
  display: flex;
  align-items: center; }
  @media (max-width: 992px) {
    .choose form {
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap; } }

.select-container {
  display: flex;
  width: 500px;
  justify-content: flex-end; }
  @media (max-width: 992px) {
    .select-container {
      width: 100%;
      flex-direction: column;
      flex-wrap: wrap; } }

select,
select:focus,
button {
  border: none;
  cursor: pointer; }

#submit {
  padding: 10px 20px;
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  color: #372525;
  text-decoration: none;
  background-color: #9398E0;
  transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57); }
  #submit i {
    font-size: 1em;
    margin-left: 5px; }
  #submit:hover {
    transform: scale(1.1);
    box-shadow: none; }
  @media (max-width: 992px) {
    #submit {
      width: 100%; } }

#couleur, #quantite {
  padding: 10px 20px;
  font-family: "Pacifico", cursive;
  font-size: 1.5em;
  color: #372525;
  text-decoration: none;
  background-color: #9398E0;
  height: 62px;
  margin: 0;
  width: 100%;
  font-size: 1.2em;
  text-align-last: center; }

.button-container {
  display: flex;
  width: 30%;
  margin: auto;
  justify-content: center; }
  @media (max-width: 992px) {
    .button-container {
      width: 100%; } }

.confirmation-container {
  width: 90%;
  margin: auto;
  text-align: center;
  background-color: #93BEE0;
  padding: 20px;
  font-size: 1.2em; }
  .confirmation-container img {
    width: 90%; }

.order-id {
  text-transform: uppercase;
  background-color: white;
  width: 30%;
  margin: auto; }
  @media (max-width: 992px) {
    .order-id {
      width: 90%; } }

.window-confirmation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  align-items: center;
  justify-content: center;
  display: none;
  font-size: 1.5em; }
  .window-confirmation a {
    color: black;
    text-decoration: none; }

.window-confirmation__container {
  background-color: #93BEE0;
  padding: 20px;
  width: 500px;
  max-width: calc(100vw -10px);
  max-height: calc(100vh -10px);
  position: relative; }

.window-confirmation__resume {
  border-bottom: solid black 1px; }

.window-confirmation__close {
  position: absolute;
  right: 5px;
  top: 5px; }

.window-confirmation__btn-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between; }

.window-confirmation__btn {
  padding: 10px;
  transition: transform 200ms cubic-bezier(0.39, -0.48, 0.41, 1.57);
  background-color: white;
  font-size: 0.8em;
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center; }
  .window-confirmation__btn:hover {
    transform: scale(1.1); }

body,
html {
  margin: 0; }

body {
  background-color: #F3F5F6; }

*,
*::before,
*::after {
  box-sizing: border-box; }

/*# sourceMappingURL=style.css.map */
