* { font-family: 'Roboto', sans-serif;}

.product__name {
    font-family: 'Otomanopee One', sans-serif;
}



.main-presentation {
    font-size: 1.2em;
    & .classic {
        font-size: 1.3em;
    }
    & h1 {
        font-family: 'Lobster', cursive;
        text-shadow: #c0c0c0 10px 10px 10px;
    }
    & .h1--transparent {
        font-family: 'Lobster', cursive;
        padding-bottom: 20px;
        color: rgba($color: #000000, $alpha: 0.8)
    }
}

.classic {
    font-family: 'Dancing Script', cursive;
}

.product__name {
    font-size: 1.7em;
}

.thearticle h1 {
    font-family: 'Dancing Script', cursive;
}

.thearticle__description {
    font-size: 1.2em;
}

.thearticle__price {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
}

#cart-container h1 {font-family: 'Lobster', cursive;}