.confirmation-container {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: $back-color;
    padding: 20px;
    font-size: 1.2em;
}

.order-id {
    text-transform: uppercase;

}