.confirmation-container {
    width: 90%;
    margin: auto;
    text-align: center;
    background-color: $back-color;
    padding: 20px;
    font-size: 1.2em;
   
}

.order-id {
    text-transform: uppercase;
    background-color: white;
    width: 30%;
    margin: auto;

    @media (max-width: 992px) {
        width: 90%;
      }
}

