#confirmation-container {
  width: 90%;
  margin: auto;
}

#contact-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin:auto;
  background-color: $font-color;
  padding:20px;
  & input {
    width: 200px;
    margin-bottom: 20px;
  }
  & fieldset {
      width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
